@import "partials";

.about-me {
  display: flex;
  flex-direction: column;
  & img {
    margin: 0 auto;
    max-width: 70vw;
    @include tablet {
      min-width: 15rem;
    }
    @include desktop {
      width: 30rem;
    }
  }

  @include desktop {
    flex-direction: row;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about-me__container p {
  line-height: 1.8;
  margin-bottom: 1rem;
}
