@import "partials";

.about-me {
  display: flex;
  flex-direction: column;
  & img {
    margin: 0 auto;
    max-width: 70vw;
    @include tablet {
      width: 15rem;
    }
    @include desktop {
      width: 30rem;
    }
  }

  @include tablet {
    flex-direction: row;
    align-items: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

button {
    font-weight: 700;
    font-size: 15px;
  margin: 2rem;
  padding: 1cqh 3rem;
  background-color: $lightnavy;
  border: 1px solid $green;
  border-radius: 5px;
  color: $green;
  &:hover {
    background-color: $green;
    color: $lightnavy;  
    border: 1px solid $lightnavy;  }
}
