@import "partials";

footer {
  width: 100vw;
  text-align: center;
}

.socials {
  & span {
    background-color: $green;
    height: 200px;
    width: 1px;
    position: relative;
    bottom: -10px;
  }
  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  &-mobile {
    @include tablet {
      display: none;
    }
  }
  &-desktop {
    display: none;
  }
  & img {
    width: 50px;
    fill: currentColor;
    color: $lightestslate;
    margin: 0.5rem;
    &:hover {
      transform: scale(1.1);
      
    }
  }
}

.credit {
  padding-bottom: 2rem;
}
