@import "partials";

.project {
  margin: 6rem 0;
  & img {
    display: none;
  }
  &__container {
    position: relative;
    background-color: $navylowop;
    height: auto;
  }
  & h3 {
    font-size: 1.75rem;
  }
  & p {
    padding: 1em 0;
  }
  & ul {
    display: flex;
    gap: 1rem;
  }
  & li {
    list-style: none;
  }
}
