@import "partials";

.links a {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  background-color: $lightnavy;
  border: 1px solid $green;
  border-radius: 5px;
  color: $green;
  padding: 1rem 0;
  min-width: 250px;

  &:hover {
    background-color: $green;
    color: $lightnavy;
    border: 1px solid $lightnavy;
  }
  &:focus {
    background-color: $green90;
  }
}

.project {
  margin: 3rem 0;
  & img {
    display: none;
  }
  &__container {
    position: relative;
    background-color: $navylowop;
    height: auto;
  }
  & h3 {
    font-size: 1.5rem;
    @include tablet {
      font-size: 1.75rem;
    }
  }
  & p {
    padding: 1rem 0;
  }
  & ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.75rem 0;
    max-width: 65%;
  }
  & li {
    list-style: none;
    background-color: #112b3a;
    color: $green;
    border-radius: 0.5rem;
    padding: 0.15rem 0.5rem;
  }
}

@include tablet {
  .project {
    margin: 1rem 0 6rem 0;
    & ul {
      flex-wrap: nowrap;
    }
    & p {
      background-color: $lightnavy90;
      border-radius: 1rem;
      width: 60%;
      padding: 1rem 2rem;
    }
  }
}

@include desktop {
  .project {
    & img {
      position: absolute;
      right: 0;
      display: block;
      filter: blur(0.005px);
      height: 300px;
      z-index: -1;
      padding: 0 0 2rem 0;
    }
  }
}
