@import "partials";

.skills-lists {
  display: flex;
  justify-content: space-between;
  text-align: center;
  & ul {
    width: 23%;
    padding: 1rem 0;
  }

  & li {
    list-style: none;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: #112b3a;
    color: $lightslate;
    border-radius: 0.5rem;
    border: 1px solid $lightnavy;

  }
}
