@import "nav";
@import "about";
@import "skills";
@import "projects";
@import "projects";
@import "footer";
@import "partials";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: $lightslate;
  background-color: $navy;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: $lightestslate;
  text-decoration: none;
  text-decoration-color: $lightestslate;
  &:hover {
    color: $green;
  }
}

h2,
h3 {
  color: $white;
}

h2 {
  font-size: 2rem;
  width: 100%;
}

h4 {
  font-family: "Space Mono", monospace;
  color: $green;
}

button {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 15px;
  margin: 2rem;
  padding: 1cqh 3rem;
  background-color: $lightnavy;
  border: 1px solid $green;
  border-radius: 5px;
  color: $green;
  &:hover {
    background-color: $green;
    color: $lightnavy;
    border: 1px solid $lightnavy;
  }
}

/* SECTION & HEADERS */

section {
  margin: 2rem;
  @include tablet {
    margin: 6rem auto;
    width: 60vw;
    max-width: 1000px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  white-space: nowrap;
  width: 100%;
  & span {
    display: none;
    @include tablet {
      display: inline-block;
      border-bottom: 1px solid $lightestnavy;
      width: 100%;
      float: right;
      overflow: auto;
    }
  }
}

/* DESKTOP SOCIALS */

.socials-desktop {
  display: none;
  @include tablet {
    display: flex;
    flex-direction: column;
  }
}
